<h1>Listing Assignments</h1>
<% if logged_in? -%>
<%= link_to( image_tag("icons/add.gif", :border => 0) , new_assignment_path) %>Add New Assignment
<br>		
<h2>All Assignments</h2>					
<% else -%>
<% end -%>
<!-- Listing All -->

<table class="datagrid">
  <thead class="datagrid"><p class="supertiny">
  	<th width="50" align="center">Assignment ID</th>
    <th width="50" align="center">Project ID</th>
	<th width="300" align="center">User</th>
	<th width="300" align="center">Role</th>
	<% if logged_in? -%>
		<th width="300">&nbsp;</th>
	<%else%>
	<%end%>
	</p>
  </thead>

<% @assignments.each do |assignment| %>
   <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
    <td align="center"><%= link_to(h(assignment.id), assignment_path(assignment.id)) %></td>
	<td align="center"><%= link_to(h(assignment.project_id), project_path(assignment.project_id)) %></td>
    <td align="center"><%= link_to(h(assignment.user_id), user_path(assignment.user_id)) %></td>  
	<td align="center"><%= h assignment.role %></td>
    <% if logged_in? -%>
	<td align="center">
    	<%= link_to(image_tag("icons/edit_dg.gif", :border => 0), edit_assignment_path(assignment)) %>&nbsp;
    	<%= link_to(image_tag("icons/close.gif", :border => 0), assignment, :confirm => 'Are you sure?', :method => :delete) %>
	</td>
	<%else%>
	<%end%>
  </tr>
<% end %>
</table>
<%= will_paginate @assignments %>
<br />
